@font-face {
    font-family: 'lily_script_oneregular';
    src: url('fonts/lilyscriptone-regular-webfont.eot');
    src: url('fonts/lilyscriptone-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/lilyscriptone-regular-webfont.woff2') format('woff2'),
         url('fonts/lilyscriptone-regular-webfont.woff') format('woff'),
         url('fonts/lilyscriptone-regular-webfont.svg#lily_script_oneregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body
{
	margin: 0;
	padding: 0;
	background-color: #520E0E;
	color: #CFD7D1;
}

main, header
{
	display: flex;
	flex-direction: column;
	margin: 0 auto 0 auto;
	max-width: 1250px;
	font-size: 1.1em;
}

section
{
	display: flex;
	flex-direction: column;
}

#section_contact
{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-around;
}

#map
{
	margin-top: 100px;
	max-width: 97%;
}

#reservation
{
	width: 25%;
}

fieldset
{
	border: 1px black outset;
	border-radius: 5px;
	box-shadow: black 8px 8px 10px;
	max-width: 97%;
}

img
{
	margin: 10px 10px 10px 0px;
	border: 1px outset black;
	border-radius: 5px;
	box-shadow: black 8px 8px 10px;
	max-width: 97%;
}

nav
{
	display: flex;
	justify-content: center;
	text-align: top;
	border: 1px outset black;
	border-radius: 5px;
	box-shadow: black 8px 8px 10px;
}

a
{
	text-decoration: none;
	color: #CFD7D1;
}

a:hover
{
	color: #FFFFFF;
	text-decoration: underline;
}

div
{
	margin: 15px 0px 15px 0px;
}

.boutonmenuprincipal 
{
   cursor: pointer;
   margin: 5px;
   font-size: 1.2em;
   background-color: #520E0E;
   border: none;
}

.dropdown 
{
   display: inline-block;
}

.dropdown-child 
{
   display: none;
   position: absolute;
   background-color: #520E0E;
   margin: 0;
   border: 1px solid black;
}

.dropdown-child a 
{
   text-decoration: none;
   display: block;
   padding: 10px;
   border: 1px solid black;
}

.dropdown:hover .dropdown-child 
{
    display: block;
}

h1
{
	margin: 0;
}

h3
{
	font-size: 1.2em;
	margin: 0 0 20px 0;
}

h4
{
	margin-bottom: : 0;
}

h1, h2, h3, button
{
	font-family: 'lily_script_oneregular';
}

#photos_gîte
{
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 0;
}

#legende
{
	margin: 0 0 120px 5px;
	font-size: 0.9em;
	max-width: 530px;
	display: flex;
	text-align: center;
}

#photos_maison
{
	display: flex;
	flex-wrap: wrap;	
}

#photo_legend
{
	display: flex;
	flex-direction: column;
}

#texte
{
	font-size: 1.2em;
}

#commentaires
{
    display: flex;
    flex-wrap: wrap;
}

footer 
{
	display: flex;
	justify-content: space-between;
	background-color: #0F0F0F;
	border-top: 1px outset black;
	border-radius: 10px 10px 0 0;
	padding: 5px;
}

#signature, #adresse
{
	margin-top: 80px;
}

@media all and (min-width: 992px)
{
	#commentaires
	{
		flex-wrap: nowrap;
		flex-direction: column;
		width: 60%;
	}
}